@model IEnumerable<InspectlineAlpha.Models.Shop>

@{
    ViewBag.Title = "ShopIndex";
}

<h2>Shops</h2>

<p>
    @Html.ActionLink("Create New", "CreateShop")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditShop", new { id=item.ShopID }) |
            @Html.ActionLink("Details", "ShopDetails", new { id=item.ShopID }) |
            @Html.ActionLink("Delete", "DeleteShop", new { id=item.ShopID })
        </td>
    </tr>
}

</table>
