@model InspectlineAlpha.Models.CustomerVehicle

@{
    ViewBag.Title = "CustVehDetails";
}

<h2>Customer Vehicle Details</h2>

<div>
    <h4>CustomerVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmodelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmodelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseVehicleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseVehicleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineBaseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineBaseID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCustVeh", new { id = Model.CustomerVehicleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
