@model IEnumerable<InspectlineAlpha.Models.CustomerVehicle>

@{
    ViewBag.Title = "CustomerVehicleIndex";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Create New", "CreateCustVeh")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCustVeh", new { id = item.CustomerVehicleID }) |
                @Html.ActionLink("Details", "CustVehDetails", new { id = item.CustomerVehicleID }) |
                @Html.ActionLink("Delete", "DeleteCustVeh", new { id = item.CustomerVehicleID })
            </td>
        </tr>
    }

</table>
