@model InspectlineAlpha.Models.Inspection

@{
    ViewBag.Title = "CreateInspection";
}

<h2>Vehicle Inspection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerVehicleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerVehicleID", null, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerVehicleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InspectionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InspectionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InspectionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InspectionMileage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InspectionMileage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InspectionMileage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", null, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <br />

    <div>
        <h4>
            Check Brakes - Measure Front and Rear Linings
        </h4>
    </div>

    <div class="col-md-6">
        <table class="table">
            <tr align="center" style="background-color:#F0F0F0">
                <td></td>
                <td><b>7 mm <br />or greater</b></td>
                <td><b>6 mm <br />4 mm</b></td>
                <td><b>3 mm <br />or less</b></td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.LeftFrontBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    <span class='radio checkboxOneSpan'>
                        @Html.RadioButtonFor(model => model.LeftFrontBrake, 1, htmlAttributes: new { @class = "checkboxOne", id = "LeftFrontBrakeOne" })
                        <label for='LeftFrontBrakeOne'>
                            <span class="checkboxOneSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxTwoSpan'>
                        @Html.RadioButtonFor(model => model.LeftFrontBrake, 2, htmlAttributes: new { @class = "checkboxTwo", id = "LeftFrontBrakeTwo" })
                        <label for='LeftFrontBrakeTwo'>
                            <span class="checkboxTwoSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxThreeSpan'>
                        @Html.RadioButtonFor(model => model.LeftFrontBrake, 3, htmlAttributes: new { @class = "checkboxThree", id = "LeftFrontBrakeThree" })
                        <label for='LeftFrontBrakeThree'>
                            <span class="checkboxThreeSpan"></span>
                        </label>
                    </span>
                </td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.LeftRearBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    <span class='radio checkboxOneSpan'>
                        @Html.RadioButtonFor(model => model.LeftRearBrake, 1, htmlAttributes: new { @class = "checkboxOne", id = "LeftRearBrakeOne" })
                        <label for='LeftRearBrakeOne'>
                            <span class="checkboxOneSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxTwoSpan'>
                        @Html.RadioButtonFor(model => model.LeftRearBrake, 2, htmlAttributes: new { @class = "checkboxTwo", id = "LeftRearBrakeTwo" })
                        <label for='LeftRearBrakeTwo'>
                            <span class="checkboxTwoSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxThreeSpan'>
                        @Html.RadioButtonFor(model => model.LeftRearBrake, 3, htmlAttributes: new { @class = "checkboxThree", id = "LeftRearBrakeThree" })
                        <label for='LeftRearBrakeThree'>
                            <span class="checkboxThreeSpan"></span>
                        </label>
                    </span>
                </td>
                <td></td>
            </tr>
        </table>
    </div>


    <div class="col-md-6">
        <table class="table">
            <tr align="center" style="background-color:#F0F0F0">
                <td></td>
                <td><b>7 mm <br />or greater</b></td>
                <td><b>6 mm <br />4 mm</b></td>
                <td><b>3 mm <br />or less</b></td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.RightFrontBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    <span class='radio checkboxOneSpan'>
                        @Html.RadioButtonFor(model => model.RightFrontBrake, 1, htmlAttributes: new { @class = "checkboxOne", id = "RightFrontBrakeOne" })
                        <label for='RightFrontBrakeOne'>
                            <span class="checkboxOneSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxTwoSpan'>
                        @Html.RadioButtonFor(model => model.RightFrontBrake, 2, htmlAttributes: new { @class = "checkboxTwo", id = "RightFrontBrakeTwo" })
                        <label for='RightFrontBrakeTwo'>
                            <span class="checkboxTwoSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxThreeSpan'>
                        @Html.RadioButtonFor(model => model.RightFrontBrake, 3, htmlAttributes: new { @class = "checkboxThree", id = "RightFrontBrakeThree" })
                        <label for='RightFrontBrakeThree'>
                            <span class="checkboxThreeSpan"></span>
                        </label>
                    </span>
                </td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.RightRearBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    <span class='radio checkboxOneSpan'>
                        @Html.RadioButtonFor(model => model.RightRearBrake, 1, htmlAttributes: new { @class = "checkboxOne", id = "RightRearBrakeOne" })
                        <label for='RightRearBrakeOne'>
                            <span class="checkboxOneSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxTwoSpan'>
                        @Html.RadioButtonFor(model => model.RightRearBrake, 2, htmlAttributes: new { @class = "checkboxTwo", id = "RightRearBrakeTwo" })
                        <label for='RightRearBrakeTwo'>
                            <span class="checkboxTwoSpan"></span>
                        </label>
                    </span>
                </td>
                <td>
                    <span class='radio checkboxThreeSpan'>
                        @Html.RadioButtonFor(model => model.RightRearBrake, 3, htmlAttributes: new { @class = "checkboxThree", id = "RightRearBrakeThree" })
                        <label for='RightRearBrakeThree'>
                            <span class="checkboxThreeSpan"></span>
                        </label>
                    </span>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "comments" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-md-10">
                <input type="submit" value="Save Inspection" class="btn btn-default" />
            </div>
        </div>
}
<br />
<br />
<br />

<p style="margin-left: 15px">
    @Html.ActionLink("Back to List", "Index")
</p>