@model InspectlineAlpha.ViewModel.InspectionViewModel

@{
    ViewBag.Title = "CreateInspection";
}

<h2>CreateInspection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Inspection View Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal col-md-4">
            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.CellPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-horizontal col-md-4">
            <h4>Vehicle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerVehicle.YearID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerVehicle.YearID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerVehicle.YearID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerVehicle.MakeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerVehicle.MakeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerVehicle.MakeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerVehicle.ModelName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerVehicle.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerVehicle.ModelName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-horizontal col-md-4">
            <h4>Inspection Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Inspection.InspectionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inspection.InspectionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Inspection.InspectionDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Inspection.InspectionMileage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inspection.InspectionMileage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Inspection.InspectionMileage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Shop.ShopName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Shop.ShopName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Shop.ShopName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Employee.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Employee.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Employee.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Employee.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Employee.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Employee.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
}

<section>
    <h3>
        Check Brakes - Measure Front and Rear Linings
    </h3>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><h4>Left Front</h4></td>
                <td>
                    <div class="checkboxOne">
                        <input type="checkbox" value="1" id="checkboxOneInput" name="" />
                        <label for="checkboxOneInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxTwo">
                        <input type="checkbox" value="1" id="checkboxTwoInput" name="" />
                        <label for="checkboxTwoInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxThree">
                        <input type="checkbox" value="1" id="checkboxThreeInput" name="" />
                        <label for="checkboxThreeInput"></label>
                    </div>
                </td>
                <td></td>
                <td>
                    <p>
                        <a href="#" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td><h4>Left Rear</h4></td>
                <td>
                    <div class="checkboxOne">
                        <input type="checkbox" value="1" id="checkboxOneInput" name="" />
                        <label for="checkboxOneInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxTwo">
                        <input type="checkbox" value="1" id="checkboxTwoInput" name="" />
                        <label for="checkboxTwoInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxThree">
                        <input type="checkbox" value="1" id="checkboxThreeInput" name="" />
                        <label for="checkboxThreeInput"></label>
                    </div>
                </td>
                <td></td>
                <td>
                    <p>
                        <a href="#" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><h4>Right Front</h4></td>
                <td>
                    <div class="checkboxOne">
                        <input type="checkbox" value="1" id="checkboxOneInput" name="" />
                        <label for="checkboxOneInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxTwo">
                        <input type="checkbox" value="1" id="checkboxTwoInput" name="" />
                        <label for="checkboxTwoInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxThree">
                        <input type="checkbox" value="1" id="checkboxThreeInput" name="" />
                        <label for="checkboxThreeInput"></label>
                    </div>
                </td>
                <td></td>
                <td>
                    <p>
                        <a href="#" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td><h4>Right Rear</h4></td>
                <td>
                    <div class="checkboxOne">
                        <input type="checkbox" value="1" id="checkboxOneInput" name="" />
                        <label for="checkboxOneInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxTwo">
                        <input type="checkbox" value="1" id="checkboxTwoInput" name="" />
                        <label for="checkboxTwoInput"></label>
                    </div>
                </td>
                <td>
                    <div class="checkboxThree">
                        <input type="checkbox" value="1" id="checkboxThreeInput" name="" />
                        <label for="checkboxThreeInput"></label>
                    </div>
                </td>
                <td></td>
                <td>
                    <p>
                        <a href="#" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div>
        @Html.TextArea("myTextArea", "Comments", new { @class = "form-control" })
    </div>
    <br />
    <br />
    <br />
</section>
