@model InspectlineAlpha.Models.Inspection

@{
    ViewBag.Title = "CreateInspection";
}

<h2>Vehicle Inspection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerVehicleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerVehicleID", null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerVehicleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InspectionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InspectionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InspectionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InspectionMileage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InspectionMileage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InspectionMileage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <br />

    <div>
        <h4>
            Check Brakes - Measure Front and Rear Linings
        </h4>
    </div>

    <div class="col-md-6">
        <table class="table">
            <tr align="center" style="background-color:#F0F0F0">
                <td></td>
                <td style="color:green"><b>7 mm <br />or greater</b></td>
                <td style="color:goldenrod"><b>6 mm <br />4 mm</b></td>
                <td style="color:red"><b>3 mm <br />or less</b></td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.LeftFrontBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftFrontBrake, 1, htmlAttributes: new { @class = "checkboxOne" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftFrontBrake, 2, htmlAttributes: new { @class = "checkboxTwo" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftFrontBrake, 3, htmlAttributes: new { @class = "checkboxThree" })</td>
                <td></td>
            </tr>
            <tr align="center">
                <td>@Html.LabelFor(model => model.LeftRearBrake, htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftRearBrake, 1, htmlAttributes: new { @class = "checkboxOne" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftRearBrake, 2, htmlAttributes: new { @class = "checkboxTwo" })</td>
                <td>@Html.RadioButtonFor(model => model.LeftRearBrake, 3, htmlAttributes: new { @class = "checkboxThree" })</td>
                <td></td>
            </tr>
        </table>
    </div>


        <div class="col-md-6">
            <table class="table">
                <tr align="center" style="background-color:#F0F0F0">
                    <td></td>
                    <td style="color:green"><b>7 mm <br />or greater</b></td>
                    <td style="color:goldenrod"><b>6 mm <br />4 mm</b></td>
                    <td style="color:red"><b>3 mm <br />or less</b></td>
                    <td></td>
                </tr>
                <tr align="center">
                    <td>@Html.LabelFor(model => model.RightFrontBrake, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightFrontBrake, 1, htmlAttributes: new { @class = "checkboxOne" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightFrontBrake, 2, htmlAttributes: new { @class = "checkboxTwo" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightFrontBrake, 3, htmlAttributes: new { @class = "checkboxThree" })</td>
                    <td></td>
                </tr>
                <tr align="center">
                    <td>@Html.LabelFor(model => model.RightRearBrake, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightRearBrake, 1, htmlAttributes: new { @class = "checkboxOne" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightRearBrake, 2, htmlAttributes: new { @class = "checkboxTwo" })</td>
                    <td>@Html.RadioButtonFor(model => model.RightRearBrake, 3, htmlAttributes: new { @class = "checkboxThree" })</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <br />
        <div style="margin-left: 12px">
            @Html.TextArea("myTextArea", "Comments", new { @class = "form-control" })
        </div>
        <br />

        <div class="form-horizontal">
            <div class="col-md-10">
                <input type="submit" value="Save Inspection" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>