@model IEnumerable<InspectlineAlpha.Models.Inspection>

@{
    ViewBag.Title = "InspectionIndex";
}

<h2>Inspections</h2>

<p>
    @Html.ActionLink("Create New", "CreateInspection")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerVehicle.CustVeh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerVehicle.CustVeh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditInspection", new { id = item.InspectionID }) |
                @Html.ActionLink("Details", "InspectionDetails", new { id = item.InspectionID }) |
                @Html.ActionLink("Delete", "DeleteInspection", new { id = item.InspectionID })
            </td>
        </tr>
    }

</table>
