@model InspectlineAlpha.Models.Inspection

@{
    ViewBag.Title = "InspectionDetails";
}

<h2>InspectionDetails</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerVehicle.CustVeh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerVehicle.CustVeh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionResultID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionResultID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftFrontBrake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftFrontBrake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightFrontBrake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightFrontBrake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftRearBrake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftRearBrake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightRearBrake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightRearBrake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InspectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
