@model List<InspectlineAlpha.Models.VehicleConfigurationView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.YearID, "YearID")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmodelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseVehicleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineBaseID)
        </th>*@
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DropDownList("YearID", String.Empty)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MakeName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmodelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseVehicleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineBaseID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>


</table>
